# IDE settings (Android Studio / IntelliJ IDEA)
.idea/
*.iml

# Gradle build tool and its local cache
.gradle/
/local.properties

# Build outputs and dependencies (temporary compilation folders and local libraries)
/build/
app/build/
.externalNativeBuild/
.cxx/
/captures/
/libs/*.aar

# System files
.DS_Store
